**/.DS_Store
.idea
frequency_analysis/data*
frequency_analysis/img*
frequency_analysis/lightning_logs
lightning_logs
*.pyc
.vscode
frequency_analysis/runs/*
frequency_analysis/models
**/nohup.out
nohup.out
